body
{
    font-family: inherit;
}
.container-fluid img
{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.row .top
{
    background: rgba( 10,10,10,0.9);
    width: 100%;
    height: 70px;
    margin-bottom: 0;
}
.row .top1
{
    background: rgba(10,10,10,0.6);
    width: 100%;
    height: 80px;
    margin-bottom: 0;

}

.row .top .col-xl-4 li i
{
    width: 1.7em;
}


.row .top .col-xl-4
{
    float: right;
    width: 25%;
    height: 100%;
}
.row .top .col-xl-4 ul li
{
    list-style-type: none;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}
.row .top .col-xl-4 ul .icon a
{
    color: white;
}
.row .top .col-xl-4 .fb:hover
{
    color: white;
    background-color: #4267b2;
}
.row .top .col-xl-4 .tw:hover
{
    color: white;
    background-color: #1da1f2;
}
.row .top .col-xl-4 .gg:hover
{
    color: white;
    background-color: #F95139;
}


.row .top .col-xl-8
{
    float: right;
    width: 75%;
    height: 100%;
}
.row .top .col-xl-8 .col-xl-4
{
    width: 40%;
    height: 100%;
}
.row .top .col-xl-8 .col-xl-4 ul p
{
    color: white;
    font-size: 20px;
}
.row .top .col-xl-8 .col-xl-4 ul p span
{
    color: #606463;
}
.row .top .col-xl-8 .col-xl-4 ul p a
{
    color: #606463;
}
.row .top .col-xl-8 .col-xl-4 ul li p a:hover
{
    text-decoration: none;
}
.row .top1 .col-xl-8
{
    float: right;
}
.row .top1 .col-xl-8 ul
{
    padding-top: 20px;
}
.row .top1 .col-xl-8 ul li
{
    list-style-type: none;
    display: inline-block;
}
.row .top1 .col-xl-8 ul li:hover
{
    background-color: #64e121;
}
.row .top1 .col-xl-8 ul li a
{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 40px 20px 40px 20px;
}

.row .col-xl-12
{
    height: 241%;
}
.row .col-xl-12 .title
{
    margin-left: 20%;
    margin-top: 25px;
}
.row .col-xl-12 .title h1
{
    color: white;
    font-size:  7.5rem;
}
.row .col-xl-12 .title h3
{
    color: white;
    padding-left: 20%;
}
.row .col-xl-12 .submit
{
    border: solid;
    border-color:white ;
    width: 143px;
    height: 55px;
    margin-left: 305px;
    margin-top: 40px;
}
.row .col-xl-12 .submit a
{
    text-decoration: none;
}
.row .col-xl-12 .submit a p
{
    color: white;
    padding: 12px;
    padding-left: 31px;
}
.row .col-xl-12 .submit:hover
{
    background: #64e121;
}
.container
{
    margin-top: 190px;
    background: black;
    height: 500px;
    width: 100%;
}
.full-footer
{
    background-color:#171a1f!important;
    
}
.container-fluid #footer .div1 .row .footer-left 
{
    background: #88BE4C!important;
    border-radius: 10px 10px 0 0!important;
    width: 402px!important;
    margin-top: 50px;
    height:430px;
}
.container-fluid #footer .div1 .row .footer-left p
{
    color: #fff;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, sans-;
    margin-left: 15px;
}
.container-fluid #footer .div1 .row .col-lg-3 h3 
{
    font-family: 'Segoe UI', Tahoma, sans-;
    font-size: 25px;
    margin-top: 0;
    margin-bottom:-16px;
    color: #fff;
    padding: 30px;
    color: white;
}
.container-fluid #footer .div1 .row .footer-left li
{
    padding-bottom: 16px;
    font-size: 15px;
    color: #fff;
}
.container-fluid #footer .div1 .row .footer-left i
{
    width: 24px;
    vertical-align: middle;
    font-size: 20px!important;
    text-align: center;
    color: #fff;
}
.container-fluid #footer .div1 .row .footer-left ul
{
    list-style-type: none;
}
#footer
{
    background-image: url(../Data/img/footer-banner.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    height: 480px;

}

.div1 {
    margin-left: 70px;
    margin-right: 70px;
}
.container-fluid #footer .div1 .row .footer-rigth 
{
    width: 402px!important;
    margin-top: 50px;
    height:430px;
}
.container-fluid #footer .div1 .row .footer-rigth ul li a
{
    text-decoration: none;
    color: white;
}